@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #e5e5e5;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0 0 0;
}

.pagination li {
    display: inline;
}

.text-muted {
    color: #909090;
}

#content-wrapper {
    padding: 0.8rem;
}