@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*-- Unique Styles --*/

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #da627d !important;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0 0 0;
}

.pagination li {
    display: inline;
}

.text-muted {
    color: #909090;
}

#content {
    padding: 1rem;
}

#wrapper {
    background-color: #fff;
    margin: 0 15vw 0 15vw;
    min-height: 100vh;
}

#side-bar {
    margin: 0;
    padding-top: 3.8rem;
}

#side-bar ul {
    list-style-type: none;
    padding: 0;
}


/*-- Navigation Styles --*/

.nav-link {
    font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
    #wrapper {
        margin: 0;
    }
    #content {
        padding: 1.5rem;
    }
}

/*-- Post Detail Styles --*/

#posts {
    padding-left: 2rem;
}